Repository strapi/migration-scripts, pull requests merged in 2023-01, with the labels that each got.

#84 Fix Typo 'model' misspelled as 'moel'
  v3-mongodb-v3-sql/index.js
Labels: issue: bug, severity: medium, source: v3-MongoDB to v3-SQL

#74 Disable UP migrations with env variable
  v3-sql-v4-sql/README.md
  v3-sql-v4-sql/migrate/migrateUsers.js
Labels: issue: enhancement, source: v3-SQL to v4-SQL

#67 Correct key when one to one relationship maps to collection with same name
  v3-sql-v4-sql/migrate/helpers/relationHelpers.js
Labels: issue: bug, severity: medium, source: v3-SQL to v4-SQL
